@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
:root {
    --textTheme: #1b1b1b;
    --text2Theme: #1b1b1b;
    --text3Theme: #f0f0f0;
    --backgroundTheme: #f0f0f0;
    --decorationTheme: #d5d5d5;
    --background-admin: #1b1b1b80;
}

.dark-theme {
    --textTheme: #f0f0f0;
    --text2Theme: #f0f0f0;
    --text3Theme: #1b1b1b;
    --backgroundTheme: #2d2d2d;
    --decorationTheme: #1b1b1b;
    background-image: url('../img/main-background.jpg');
    --background-admin: #f0f0f024;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background-image: url('../img/light-background.jpg');
    background-size: cover;
    .navbar {
        background: none;
        padding: 0.5em;
        .container {
            //text-align: center;
            display: flex;
            justify-content: space-evenly;
            a {
                text-decoration: 0;
                color: white;
                font-weight: bold;
            }
        }
    }
    #navigation_database_con {
        background-color: var(--backgroundTheme);
        display: flex;
        margin: 10px;
        border-radius: 5px;
        justify-content: space-between;
        #navigation_database_1 {
            display: flex;
            //align-items: flex-start;
            max-height: 24px;
            /* or whatever width you want. */
            width: 1014px;
            /* or whatever width you want. */
            //margin-left: 60px;
            //vertical-align: middle;
            #navigation_database_arrow {
                height: auto;
                padding-right: 10px;
                padding-left: 5px;
            }
        }
        #navigation_database_2 {
            display: flex;
            //align-items: flex-start;
            max-height: 24px;
            /* or whatever width you want. */
            max-width: 1024px;
            padding-right: 5px;
            /* or whatever width you want. */
            //margin-left: 60px;
            //vertical-align: middle;
            #navigation_database_save {
                background-color: green;
                display: none;
                font-size: 16px;
                text-align: center;
                align-self: flex-end;
                margin-right: 5px;
                border-radius: 5px;
            }
            #navigation_database_undo {
                background-color: red;
                display: none;
                font-size: 16px;
                text-align: center;
                align-self: flex-end;
                border-radius: 5px;
            }
        }
    }
    .searchbar {
        h1 {
            color: white;
            margin: 20px;
        }
        span {
            color: #a3c4cb;
        }
        margin-left: 256px;
        width: 512px;
        margin-top: 0;
        border-radius: 1em;
        //border: 2px solid black;
        text-align: center;
        background: none;
        font-size: 1.3em;
        .search {
            display: inline;
            width: 70%;
            height: 2em;
            border-radius: 0.4em;
            margin-bottom: 1em;
            background-color: var(--backgroundTheme);
        }
         ::placeholder {
            color: var(--text2Theme);
            font-size: smaller;
        }
        /*.button{
            height: 2.2em;
            width: 20%;
            background-color: white;
            border-radius: 1.3em;
            font-size: 0.7em;
            color: rgb(0, 180, 0);
            border-color: rgb(0, 180, 0);
            cursor: pointer;
            :hover {
                font-weight: bolder;
            }
        }*/
    }
    .searchContentDiv {
        background-color: var(--decorationTheme);
        height: 45px;
        justify-content: left;
        display: flex;
        padding-left: 10px;
        border-radius: 10px;
        align-items: center;
        color: var(--text2Theme);
    }
    .searchContentDivDescription {
        width: 50%;
        position: relative;
        font-size: 12px;
        align-items: center;
        color: var(--text2Theme);
    }
    .searchContentDivDescription a {
        position: relative;
        width: 150px;
        left: 0px;
    }
    #searchResult>div {
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        width: auto;
        height: 160px;
        background: var(--backgroundTheme);
        //overflow: hidden;
        margin-right: 15px;
        .container {
            display: flex;
            justify-content: space-evenly;
            padding-top: 30px;
            align-items: center;
        }
    }
    #searchResult img {
        width: auto;
        height: 48px;
        border-radius: 10px;
    }
    #searchResult {
        background: none;
        height: 360px;
        overflow-y: auto;
    }
    .bodySection {
        display: flex;
        height: 510px;
        #searchHistory {
            background-color: rgba(45, 45, 45, 0.5);
            margin-left: 56px;
            margin-top: 110px;
            width: 200px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            height: 300px;
            overflow-y: auto;
            .searchHistoryTitle {
                color: white;
                margin-bottom: 15px;
                padding-top: 5px;
                padding-bottom: 5px;
                border-bottom: white 1px solid;
                font-weight: bold;
                display: flex;
                justify-content: center;
            }
            .chosen {
                color: white;
                display: flex;
                justify-content: right;
                img {
                    height: 30px;
                    padding-left: 10px;
                    padding-right: 30px;
                    width: auto;
                    filter: invert(100%) sepia(30%) saturate(80%) hue-rotate(157deg) brightness(104%) contrast(101%); //lösning för att ge svg färg
                }
            }
            .removeHistory {
                position: absolute;
                margin-top: 355px;
                background-color: black;
                color: #a3c4cb;
                border: white 2px solid;
                border-radius: 10px;
                font-weight: bold;
                width: 200px;
                height: 40px;
            }
        }
    }
    #admin_s {
        background-color: rgba(45, 45, 45, 0.5);
        display: none;
        //grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 40px 40px;
        grid-auto-flow: column;
        row-gap: 16px;
        column-gap: 16px;
        padding-left: 8px;
        padding-right: 8px;
    }
    #admin_s .skop {
        background-color: rgba(255, 255, 255, 1);
        border-radius: 5px;
        text-align: center;
        line-height: 34px;
        margin-top: 5px;
    }
    #selected_cabinet {
        margin-top: 10px;
    }
    #admin_s #selected_cabinet #select_cabinet_change_name {
        width: 170px;
    }
    #admin_s .layout {
        background-color: rgba(255, 255, 255, 1);
        margin-top: 5px;
        text-align: center;
        border-radius: 5px 5px 0px 0px;
        .layout1 {
            background-color: rgba(255, 255, 255, 1);
        }
        .layout2 {
            background-color: rgba(255, 255, 255, 1);
        }
        .layout3 {
            background-color: rgba(255, 255, 255, 1);
            border-radius: 0px 0px 5px 5px;
        }
    }
    #admin_s #new_cabinet {
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 5px;
        margin-top: 5px;
        text-align: center;
        height: 35px;
        line-height: 34px;
    }
    #data {
        background-color: var(--background-admin);
        //margin-left: 50px;
    }
    #data #standard_partern_layout .components {
        display: flex;
        overflow: hidden;
        height: 24px;
        justify-content: space-evenly;
        background-color: var(--backgroundTheme);
        border-radius: 5px;
        margin-top: 8px;
        margin-bottom: 8px;
        color: var(--textTheme);
    }
    #data .new_element {
        text-align: center;
        background-color: var(--backgroundTheme);
        border-radius: 5px;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 5px;
    }
    #data #standard_partern_layout {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        row-gap: 5px;
        column-gap: 10px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        justify-content: space-evenly;
        align-items: center;
    }
    #data #diffrent_partern_layout {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 5px;
        column-gap: 10px;
        margin-left: 10px;
        margin-right: 10px;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
    }
    #data #diffrent_partern_layout .components {
        display: flex;
        overflow: hidden;
        height: 24px;
        justify-content: space-evenly;
        background-color: var(--backgroundTheme);
        border-radius: 5px;
        margin-top: 8px;
        margin-bottom: 8px;
        color: var(--textTheme);
    }
    #data #diffrent_partern_layout2 {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: 1fr;
        row-gap: 5px;
        column-gap: 10px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        align-items: center;
    }
    #data #diffrent_partern_layout2 .components {
        display: flex;
        overflow: hidden;
        height: 24px;
        justify-content: space-evenly;
        background-color: var(--backgroundTheme);
        border-radius: 5px;
        margin-top: 8px;
        margin-bottom: 8px;
        color: var(--textTheme);
    }
    #data #change_placeholder {
        /* Hidden by default */
        display: none;
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }
    #data #change_placeholder #change {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid #888;
        justify-content: space-evenly;
        width: 90%;
    }
    // Positioning the enlarged switch 
    .custom-switch>.custom-control-label {
        padding-left: 1.75rem;
        padding-bottom: 0.5rem;
    }
    // Sync the animation for switch knob
    .custom-switch>.custom-control-input:checked~.custom-control-label::after {
        -webkit-transform: scale(2) translateX(0.75rem);
        transform: scale(2) translateX(0.75rem);
    }
    // Enlarge and position the switch knob 
    .custom-switch>.custom-control-label::after {
        left: -1.75rem;
        transform: scale(2);
    }
    // Enlarge and position the switch socket 
    .custom-switch>.custom-control-label::before {
        left: -1.50rem;
        transform: scale(2);
    }
    // padding below switch
    .settingsPadding {
        padding-bottom: 15px;
    }
}

[draggable] {
    user-select: none;
}