@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
:root {
  --textTheme: #f0f0f0;
  --text2Theme: #1b1b1b;
  --text3Theme: #f0f0f0;
  --backgroundTheme: #f0f0f0;
  --decorationTheme: #d5d5d5;
}

.dark-theme {
  --textTheme: #f0f0f0;
  --text2Theme: #f0f0f0;
  --text3Theme: #1b1b1b;
  --backgroundTheme: #2d2d2d;
  --decorationTheme: #1b1b1b;
  background-image: url("../img/main-background.jpg");
}

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  background-image: url("../img/light-background.jpg");
  background-size: cover;
}

body #loadingscreen {
  -webkit-animation: fadeout 2s;
          animation: fadeout 2s;
  opacity: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: inline;
  position: absolute;
  height: 600px;
  width: 1024px;
  background-color: black;
}

body #loadingscreen img {
  height: 223px;
  width: 210px;
  margin-left: 407px;
  margin-right: 407px;
  margin-top: 100px;
  margin-bottom: 100px;
}

body #loadingscreen h1 {
  color: white;
  font-size: 16px;
  text-align: center;
}

body #loadingscreen #loadingscreentext2 {
  opacity: 0%;
  text-align: center;
  margin-top: -26px;
}

body #loadingscreen #loadingscreentext3 {
  opacity: 0%;
  text-align: center;
  margin-top: -26px;
}

body #loadingscreen #loadingscreentext4 {
  opacity: 0%;
  text-align: center;
  margin-top: -26px;
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body .modal-container a {
  display: block;
  text-decoration: none;
}

body .navbar {
  display: none;
  position: fixed;
  background: none;
  padding: 0.5em;
  width: 80px;
  padding-bottom: 100%;
  -webkit-backdrop-filter: blur(5px) grayscale(30%);
          backdrop-filter: blur(5px) grayscale(30%);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}

body .navbar .container {
  padding: 20px;
  display: -webkit-box;
  /*! Overwritten by 'display: flex;' */
  display: -ms-flexbox;
  /*! Overwritten by 'display: flex;' */
  display: flex;
  -webkit-box-pack: space-evenly;
  /*! Unused */
  -ms-flex-pack: space-evenly;
  /*! Unused */
  justify-content: space-evenly;
}

body .navbar .container a {
  -webkit-text-decoration: 0;
          text-decoration: 0;
  color: white;
  font-weight: bold;
}

body .navbar .container img {
  margin: 20px;
  width: 48px;
  -webkit-filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(157deg) brightness(100%) contrast(100%);
          filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(157deg) brightness(100%) contrast(100%);
}

body #homeimg {
  -webkit-filter: invert(55%) sepia(0%) saturate(0%) hue-rotate(174deg) brightness(91%) contrast(90%);
          filter: invert(55%) sepia(0%) saturate(0%) hue-rotate(174deg) brightness(91%) contrast(90%);
}

body .searchbar {
  margin-left: 256px;
  width: 512px;
  margin-top: 0;
  border-radius: 1em;
  text-align: center;
  background: none;
  font-size: 1.3em;
  /*.button{
            height: 2.2em;
            width: 20%;
            background-color: white;
            border-radius: 1.3em;
            font-size: 0.7em;
            color: rgb(0, 180, 0);
            border-color: rgb(0, 180, 0);
            cursor: pointer;
            :hover {
                font-weight: bolder;
            }
        }*/
}

body .searchbar h1 {
  color: white;
  margin: 20px;
}

body .searchbar span {
  color: #a3c4cb;
}

body .searchbar .search {
  display: inline;
  width: 70%;
  height: 2em;
  border-radius: 0.4em;
  margin-bottom: 1em;
  background-color: var(--backgroundTheme);
}

body .searchbar ::-webkit-input-placeholder {
  color: var(--text2Theme);
  font-size: smaller;
}

body .searchbar :-ms-input-placeholder {
  color: var(--text2Theme);
  font-size: smaller;
}

body .searchbar ::-ms-input-placeholder {
  color: var(--text2Theme);
  font-size: smaller;
}

body .searchbar ::placeholder {
  color: var(--text2Theme);
  font-size: smaller;
}

body .searchContentDiv {
  background-color: var(--decorationTheme);
  height: 45px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text2Theme);
}

body .searchContentDivDescription {
  width: 50%;
  position: relative;
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text2Theme);
}

body .searchContentDivDescription a {
  position: relative;
  width: 150px;
  left: 0px;
}

body #searchResult > div {
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: auto;
  height: 160px;
  background: var(--backgroundTheme);
  margin-right: 15px;
}

body #searchResult > div .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #searchResult img {
  width: auto;
  height: 48px;
  border-radius: 10px;
}

body #searchResult {
  background: none;
  height: 360px;
  overflow-y: auto;
}

body .bodySection {
  display: none;
  height: 510px;
}

body .bodySection #searchHistory {
  background-color: rgba(45, 45, 45, 0.5);
  margin-left: 56px;
  margin-top: 110px;
  width: 200px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 300px;
  overflow-y: auto;
}

body .bodySection #searchHistory .searchHistoryTitle {
  color: white;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: white 1px solid;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .bodySection #searchHistory .chosen {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

body .bodySection #searchHistory .chosen img {
  height: 30px;
  padding-left: 10px;
  padding-right: 30px;
  width: auto;
  -webkit-filter: invert(100%) sepia(30%) saturate(80%) hue-rotate(157deg) brightness(104%) contrast(101%);
          filter: invert(100%) sepia(30%) saturate(80%) hue-rotate(157deg) brightness(104%) contrast(101%);
}

body .bodySection #searchHistory .removeHistory {
  position: absolute;
  margin-top: 355px;
  background-color: black;
  color: #a3c4cb;
  border: white 2px solid;
  border-radius: 10px;
  font-weight: bold;
  width: 200px;
  height: 40px;
}

body .rotate {
  -webkit-animation: rotation 1s infinite linear;
          animation: rotation 1s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

body .custom-switch > .custom-control-label {
  padding-left: 1.75rem;
  padding-bottom: 0.5rem;
}

body .custom-switch > .custom-control-input:checked ~ .custom-control-label::after {
  -webkit-transform: scale(2) translateX(0.75rem);
  transform: scale(2) translateX(0.75rem);
}

body .custom-switch > .custom-control-label::after {
  left: -1.75rem;
  -webkit-transform: scale(2);
          transform: scale(2);
}

body .custom-switch > .custom-control-label::before {
  left: -1.50rem;
  -webkit-transform: scale(2);
          transform: scale(2);
}

body .settingsPadding {
  padding-bottom: 15px;
}
/*# sourceMappingURL=main.css.map */