@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
:root {
  --textTheme: #1b1b1b;
  --text2Theme: #1b1b1b;
  --text3Theme: #f0f0f0;
  --backgroundTheme: #f0f0f0;
  --decorationTheme: #d5d5d5;
  --background-admin: #1b1b1b80;
}

.dark-theme {
  --textTheme: #f0f0f0;
  --text2Theme: #f0f0f0;
  --text3Theme: #1b1b1b;
  --backgroundTheme: #2d2d2d;
  --decorationTheme: #1b1b1b;
  background-image: url("../img/main-background.jpg");
  --background-admin: #f0f0f024;
}

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  background-image: url("../img/light-background.jpg");
  background-size: cover;
}

body .navbar {
  background: none;
  padding: 0.5em;
}

body .navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .navbar .container a {
  -webkit-text-decoration: 0;
          text-decoration: 0;
  color: white;
  font-weight: bold;
}

body #navigation_database_con {
  background-color: var(--backgroundTheme);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  border-radius: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #navigation_database_con #navigation_database_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 24px;
  /* or whatever width you want. */
  width: 1014px;
  /* or whatever width you want. */
}

body #navigation_database_con #navigation_database_1 #navigation_database_arrow {
  height: auto;
  padding-right: 10px;
  padding-left: 5px;
}

body #navigation_database_con #navigation_database_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 24px;
  /* or whatever width you want. */
  max-width: 1024px;
  padding-right: 5px;
  /* or whatever width you want. */
}

body #navigation_database_con #navigation_database_2 #navigation_database_save {
  background-color: green;
  display: none;
  font-size: 16px;
  text-align: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 5px;
  border-radius: 5px;
}

body #navigation_database_con #navigation_database_2 #navigation_database_undo {
  background-color: red;
  display: none;
  font-size: 16px;
  text-align: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-radius: 5px;
}

body .searchbar {
  margin-left: 256px;
  width: 512px;
  margin-top: 0;
  border-radius: 1em;
  text-align: center;
  background: none;
  font-size: 1.3em;
  /*.button{
            height: 2.2em;
            width: 20%;
            background-color: white;
            border-radius: 1.3em;
            font-size: 0.7em;
            color: rgb(0, 180, 0);
            border-color: rgb(0, 180, 0);
            cursor: pointer;
            :hover {
                font-weight: bolder;
            }
        }*/
}

body .searchbar h1 {
  color: white;
  margin: 20px;
}

body .searchbar span {
  color: #a3c4cb;
}

body .searchbar .search {
  display: inline;
  width: 70%;
  height: 2em;
  border-radius: 0.4em;
  margin-bottom: 1em;
  background-color: var(--backgroundTheme);
}

body .searchbar ::-webkit-input-placeholder {
  color: var(--text2Theme);
  font-size: smaller;
}

body .searchbar :-ms-input-placeholder {
  color: var(--text2Theme);
  font-size: smaller;
}

body .searchbar ::-ms-input-placeholder {
  color: var(--text2Theme);
  font-size: smaller;
}

body .searchbar ::placeholder {
  color: var(--text2Theme);
  font-size: smaller;
}

body .searchContentDiv {
  background-color: var(--decorationTheme);
  height: 45px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text2Theme);
}

body .searchContentDivDescription {
  width: 50%;
  position: relative;
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text2Theme);
}

body .searchContentDivDescription a {
  position: relative;
  width: 150px;
  left: 0px;
}

body #searchResult > div {
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: auto;
  height: 160px;
  background: var(--backgroundTheme);
  margin-right: 15px;
}

body #searchResult > div .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #searchResult img {
  width: auto;
  height: 48px;
  border-radius: 10px;
}

body #searchResult {
  background: none;
  height: 360px;
  overflow-y: auto;
}

body .bodySection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 510px;
}

body .bodySection #searchHistory {
  background-color: rgba(45, 45, 45, 0.5);
  margin-left: 56px;
  margin-top: 110px;
  width: 200px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 300px;
  overflow-y: auto;
}

body .bodySection #searchHistory .searchHistoryTitle {
  color: white;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: white 1px solid;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .bodySection #searchHistory .chosen {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

body .bodySection #searchHistory .chosen img {
  height: 30px;
  padding-left: 10px;
  padding-right: 30px;
  width: auto;
  -webkit-filter: invert(100%) sepia(30%) saturate(80%) hue-rotate(157deg) brightness(104%) contrast(101%);
          filter: invert(100%) sepia(30%) saturate(80%) hue-rotate(157deg) brightness(104%) contrast(101%);
}

body .bodySection #searchHistory .removeHistory {
  position: absolute;
  margin-top: 355px;
  background-color: black;
  color: #a3c4cb;
  border: white 2px solid;
  border-radius: 10px;
  font-weight: bold;
  width: 200px;
  height: 40px;
}

body #admin_s {
  background-color: rgba(45, 45, 45, 0.5);
  display: none;
  -ms-grid-rows: 40px 40px;
      grid-template-rows: 40px 40px;
  grid-auto-flow: column;
  row-gap: 16px;
  -webkit-column-gap: 16px;
          column-gap: 16px;
  padding-left: 8px;
  padding-right: 8px;
}

body #admin_s .skop {
  background-color: white;
  border-radius: 5px;
  text-align: center;
  line-height: 34px;
  margin-top: 5px;
}

body #selected_cabinet {
  margin-top: 10px;
}

body #admin_s #selected_cabinet #select_cabinet_change_name {
  width: 170px;
}

body #admin_s .layout {
  background-color: white;
  margin-top: 5px;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
}

body #admin_s .layout .layout1 {
  background-color: white;
}

body #admin_s .layout .layout2 {
  background-color: white;
}

body #admin_s .layout .layout3 {
  background-color: white;
  border-radius: 0px 0px 5px 5px;
}

body #admin_s #new_cabinet {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  margin-top: 5px;
  text-align: center;
  height: 35px;
  line-height: 34px;
}

body #data {
  background-color: var(--background-admin);
}

body #data #standard_partern_layout .components {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 24px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: var(--backgroundTheme);
  border-radius: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: var(--textTheme);
}

body #data .new_element {
  text-align: center;
  background-color: var(--backgroundTheme);
  border-radius: 5px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 5px;
}

body #data #standard_partern_layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 5px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #data #diffrent_partern_layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #data #diffrent_partern_layout .components {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 24px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: var(--backgroundTheme);
  border-radius: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: var(--textTheme);
}

body #data #diffrent_partern_layout2 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 5px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #data #diffrent_partern_layout2 .components {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 24px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: var(--backgroundTheme);
  border-radius: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: var(--textTheme);
}

body #data #change_placeholder {
  /* Hidden by default */
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

body #data #change_placeholder #change {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #888;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90%;
}

body .custom-switch > .custom-control-label {
  padding-left: 1.75rem;
  padding-bottom: 0.5rem;
}

body .custom-switch > .custom-control-input:checked ~ .custom-control-label::after {
  -webkit-transform: scale(2) translateX(0.75rem);
  transform: scale(2) translateX(0.75rem);
}

body .custom-switch > .custom-control-label::after {
  left: -1.75rem;
  -webkit-transform: scale(2);
          transform: scale(2);
}

body .custom-switch > .custom-control-label::before {
  left: -1.50rem;
  -webkit-transform: scale(2);
          transform: scale(2);
}

body .settingsPadding {
  padding-bottom: 15px;
}

[draggable] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/*# sourceMappingURL=main.css.map */